.footer {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background: lightgray;
    margin-top: 70px;
}
.admin_link {
    color: gray;
    text-decoration: none;
    font-family: "Cabin", sans-serif;
}